@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row">
            <button>File</button>
            <button>Edit</button>
        </div>

        <article>
            @Body
        </article>
    </main>
</div>