@using MathEditor.Components
@using MathEditor.Services
@inherits LayoutComponentBase
<div class="page">
    <main>
        <Toolbar />
        
        <article>
            @Body
        </article>
    </main>
</div>