@typeparam TField

<div class="field @(Field.IsSelected ? "selected" : "")"
     style="@Style"
     @onpointerdown="HandlePointerDown"
     @ondblclick="HandleDoubleClick">
     
    @Body
     
    @if (Field is { IsSelected: true, IsResizable: true })
    {
        <div class="resize-handle"
             @onpointerdown="StartResize"></div>
    }
</div>