.field {
    position: absolute;
    display: inline-block;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    
    --overflow: visible;
    overflow: var(--overflow);
}
.field:hover {
    outline: 2px dotted #4a90e2;
    cursor: pointer;
}
.field.selected {
    outline: 3px solid #4a90e2;
    outline-offset: 2px;
    cursor: default;
}


.selection-frame {
    position: absolute;
    inset: -10px;
    border: 1px solid #4a90e2;
    border-radius: 3px;
    cursor: move;
    user-select: none;
}


.handle {
    position: absolute;
    width: 8px;
    height: 8px;
    background: white;
    border: 1px solid #4a90e2;
    border-radius: 3px;
}

.handle.tl { top: -5px; left: -5px; cursor: nwse-resize; }
.handle.t  { top: -5px; left: 50%; transform: translateX(-50%); cursor: ns-resize; }
.handle.tr { top: -5px; right: -5px; cursor: nesw-resize; }
.handle.r  { top: 50%; right: -5px; transform: translateY(-50%); cursor: ew-resize; }
.handle.br { bottom: -5px; right: -5px; cursor: nwse-resize; }
.handle.b  { bottom: -5px; left: 50%; transform: translateX(-50%); cursor: ns-resize; }
.handle.bl { bottom: -5px; left: -5px; cursor: nesw-resize; }
.handle.l  { top: 50%; left: -5px; transform: translateY(-50%); cursor: ew-resize; }