.field {
    position: absolute;
    background: none;
    display: inline-block;
    border-radius: 3px;
}
.field:hover {
    outline: 2px dotted #4a90e2;
    cursor: pointer;
}
.field.selected {
    outline: 3px solid #4a90e2;
    outline-offset: 2px;
    cursor: move;
}

.resize-handle {
    width: 10px;
    height: 10px;
    right: 0;
    bottom: 0;
    background: #888;
    position: absolute;
    cursor: se-resize;
}