.math-content {
    width: 100%;
    background:transparent;
    border: none;
    outline: none;
}
.field.selected > .math-content{
    cursor: default;
}


.math-content::part(container) {
    height: 37.8px;
}

.math-content::part(virtual-keyboard-toggle) {
    visibility: hidden;
    margin-right: 0;
    margin-top: -2px;
}
.field.selected > .math-content::part(virtual-keyboard-toggle) {
    visibility: visible;
}

.math-content::part(menu-toggle) {
    visibility: hidden;
    margin-right: 0;
    margin-top: -2px;
}
.field.selected > .math-content::part(menu-toggle) {
    visibility: visible;
}