@inherits BaseFieldView<MathEditor.Models.MathField>

<BaseFieldView Field="Field"
               OnPointerDown="PointerDown">
    <Body>
        <math-field class="math-content" @ref="_contentRef"></math-field>
    </Body>
</BaseFieldView>