@inherits BaseFieldView<MathEditor.Models.MathField>

<BaseFieldView Field="Field"
               OnPointerDown="PointerDown"
               OnStartEditing="StartEditing">
    <Body>
        <math-field class="math-content" @ref="ContentRef" @onkeydown="OnKeyDown"></math-field>
    </Body>
</BaseFieldView>