.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

    pointer-events: none;
    
    transition: opacity 0.3s ease;
}
.backdrop.visible {
    visibility: visible;
    opacity: 1;
}

.dialog {
    width: 350px;
    padding: 20px;
    scale: 0.75;
    opacity: 0;

    z-index: 10000;
    display: flex;
    flex-direction: column;
    
    background: var(--color-background);
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    
    user-select: none;
    pointer-events: auto;
    
    transition: scale 0.2s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.15s ease;
}
.dialog.visible {
    scale: 1;
    opacity: 1;
}


.buttons {
    margin-top: 15px;
    align-self: flex-end;
}


.title {
    font-weight: bold;
}

label {
    font-size: 13pt;
}

input {
    text-align: center;
}