.text-field {
    position: absolute;
    background: none;
    min-height: 37.8px;
    min-width: 37.8px;
    cursor: grab;
}

.text-field.selected {
    outline: 3px solid #4a90e2;
    border-radius: 3px;
    outline-offset: 2px;
}

.text-field.selected > .resize-handle {
    visibility: visible;
}

.text-field > textarea {
    background: none;
    border: none;
    outline: none;
    width: 95%;
    height: 95%;
    resize: none;
    font-size: 1.5rem;
}

.resize-handle {
    visibility: hidden;
    width: 10px;
    height: 10px;
    right: 0;
    bottom: 0;
    background: #888;
    position: absolute;
    cursor: se-resize;
}