@inherits BaseFieldView<MathEditor.Models.TextField>

<BaseFieldView Field="Field"
               OnPointerDown="PointerDown">
    <Body>
        <div class="text-content"
             contenteditable="true"
             @oninput="OnInput"
             @ref="_contentRef">
        </div>
    </Body>
</BaseFieldView>