.text-field {
    position: absolute;
    background: none;
    min-height: 18.9px;
    min-width: 37.8px;
    cursor: grab;
}
.text-field > textarea {
    pointer-events: none;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 11pt;
    overflow: hidden;
    padding: 0;
}

.text-field.selected {
    outline: 3px solid #4a90e2;
    border-radius: 3px;
    outline-offset: 2px;
}
.text-field.selected > textarea{
    pointer-events: auto;
}
.text-field.selected > .resize-handle {
    visibility: visible;
}


.resize-handle {
    visibility: hidden;
    width: 10px;
    height: 10px;
    right: 0;
    bottom: 0;
    background: #888;
    position: absolute;
    cursor: se-resize;
}