@inject IJSRuntime JS

<div class="text-field @(Field.IsSelected ? "selected" : "")" 
     style="@Style"
     @onpointerdown="HandlePointerDown">

    <div class="text-content" 
         contenteditable="true"
         @oninput="OnInput"
         @onpointerdown="SelectText"
         @onpointerup="StopClickText"
         @ref="_content"></div>
    
    @*TODO - Add resizing from all corners and edges like in Excalidraw*@
    <div class="resize-handle"
         @onpointerdown="StartResize"></div>
</div>