.text-field {
    position: absolute;
    border: 1px solid #ccc;
    background: white;
}

.text-field.selected {
    outline: 2px solid #4a90e2;
    outline-offset: 2px;
}

.text-field > textarea {
    width: 100%;
    height: 100%;
    resize: none;
}

.resize-handle {
    width: 10px;
    height: 10px;
    right: 0;
    bottom: 0;
    background: #888;
    position: absolute;
    cursor: se-resize;
}