@using MathEditor.Models
@using MathEditor.Services
@implements IDisposable;
@inject Editor Editor;

<div class="toolbar">
        <button class="tool-button @(Editor.Mode == Enums.Pan ? "active" : "")" 
                @onclick="() => Editor.SetMode(Enums.Pan)">Pan</button>
        <button class="tool-button @(Editor.Mode == Enums.CreateTextField ? "active" : "")" 
                @onclick="() => Editor.SetMode(Enums.CreateTextField)">New Text</button>
        <button class="tool-button @(Editor.Mode == Enums.CreateMathField ? "active" : "")" 
                @onclick="() => Editor.SetMode(Enums.CreateMathField)">New Expression</button>
</div>


@code {
        protected override void OnInitialized() => Editor.OnStateChanged += StateHasChanged;
        public void Dispose() => Editor.OnStateChanged -= StateHasChanged;
}