/* Toolbar */
.toolbar {
    position: absolute;
    left: 0;
    right: 0;
    margin: 16px;
    height: 40px;
    
    z-index: 1000;
    display: flex;
    align-items: center;
    
    user-select: none;
}
.toolbar .left {
    z-index: 2;
    height: 100%;
}
.toolbar .center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-bg);
    border-radius: 10px;
    
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}


/* Toolbar Button */
.tool-button, .menu-button {
    margin-right: 5px;
    min-width: 40px;
    width: 40px;
    height: 40px;
    
    border: none;
    border-radius: 10px;
    outline: none;
    
    background-color: var(--color-bg);
}
.tool-button:last-child {
    margin-right: 0;
}

.tool-button:hover, .menu-button:hover {
    background: var(--color-menu-btn-hover);
}

.tool-button.active, .menu-button.active {
    background: var(--color-menu-btn-active);
}

.tool-button img, .menu-button img {
    width: 22px;
    height: 22px;
    
    pointer-events: none;
}

.tool-button .shortcut {
    position: absolute;
    bottom: 2px;
    margin-right: 1px;
}


.shortcut {
    font-size: 7pt;
    color: gray;
}


/* Menu Button */
.menu-button {
    display: flex;
    
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

    /*transition: width 0.4s cubic-bezier(0.2, 1.9, 0.6, 1);*/
    transition: width 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.menu-button.visible {
    width: 220px;
}

.menu-button img {
    margin-left: 3px;
    margin-top: 8px;
    
    transition: transform 0.2s ease-out;
}
.menu-button.visible img {
    transform: rotate(180deg);
}

.menu-button span {
    opacity: 0;
    margin-top: 6px;
    
    font-size: 14pt;
    visibility: hidden;
    
    transition: opacity 0.3s ease;
}
.menu-button.visible span {
    width: 100%;
    
    opacity: 1;
    visibility: visible;
    
    color: var(--color-text);
}


.theme-toggle-icon {
    content: var(--icon-theme-toggle);
}


/* Context Menu */
.context-menu {
    scale: 1 0;
    transform-origin: top;
    width: 220px;
    position: absolute;
    margin: 16px;
    padding: 5px;
    top: 50px;
    
    visibility: hidden;
    opacity: 0;
    
    z-index: 1000;
    display: flex;
    flex-direction: column;
    
    border: none;
    border-radius: 10px;
    background-color: var(--color-bg);
    
    transition: opacity 0.2s linear, scale 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);;
}
.context-menu.visible {
    scale: 1;
    
    visibility: visible;
    opacity: 1;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.context-menu button {
    display: flex;
    align-items: center;
    
    height: 32px;
    padding: 0 10px;
    
    color: var(--color-text);
    text-align: start;
    font-size: 11pt;
    
    border: none;
    border-radius: 10px;
    background: var(--color-bg);
    
    transition: none;
}
[data-theme="dark"] img {
    filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}
.context-menu button:hover {
    background: var(--color-menu-btn-hover);
}

.context-menu img {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    
    color: var(--color-fg);
}


.context-menu button .shortcut {
    margin-left: auto;
}