.toolbar {
    position: absolute;
    z-index: 1000;
    margin: 16px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tool-button {
    margin-right: .5rem;
    border: none;
    border-radius: 10px;
    min-width: 4rem;
    height: 100%;
}

.tool-button.active {
    background: darkgray;
}

.context-menu {
    visibility: hidden;
    opacity: 0;
    scale: 1 0;
    transform-origin: top;
    
    width: 250px;
    position: absolute;
    z-index: 1000;
    margin: 16px;
    padding: 5px;
    top: 64px;
    
    display: flex;
    flex-direction: column;
    
    border: none;
    border-radius: 10px;
    background-color: white;
    
    transition: opacity 0.1s linear, scale 0.15s ease-out;
}
.context-menu.visible {
    visibility: visible;
    opacity: 1;
    scale: 1;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.context-menu button {
    height: 40px;
    padding: 0 10px;
    
    text-align: start;
    border: none;
    border-radius: 10px;
    background-color: white;
}
.context-menu button:hover {
    background-color: lightgray;
} 