.field {
    position: absolute;
    display: inline-block;
    border-radius: 1px;
    width: 100%;
    height: 100%;
    
    --overflow: visible;
    overflow: var(--overflow);
    
    background: transparent;

    transition: box-shadow 50ms ease-out, background-color 50ms;
}

.field.selected {
    background: var(--color-bg-70a);
    z-index: 100;
}

.field.editing {
    box-shadow: 0 0 0 1px var(--color-gray);
}

.block-content {
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
}

.selection-frame {
    position: absolute;
    inset: -2px;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    
    z-index: 200;
    
    transition: box-shadow 50ms ease-out;
}
.selection-frame:hover {
    box-shadow: 0 0 0 2px var(--color-selection);
}

.selection-frame.visible {
    box-shadow: 0 0 0 3px var(--color-selection);
    cursor: move;
}


.handle {
    position: absolute;
    width: 8px;
    height: 8px;
    background: white;
    border: 1px solid var(--color-selection);
    border-radius: 3px;
    z-index: 101;
}

.handle.tl { top: -5px; left: -5px; cursor: nwse-resize; }
.handle.t  { top: -5px; left: 50%; transform: translateX(-50%); cursor: ns-resize; }
.handle.tr { top: -5px; right: -5px; cursor: nesw-resize; }
.handle.r  { top: 50%; right: -5px; transform: translateY(-50%); cursor: ew-resize; }
.handle.br { bottom: -5px; right: -5px; cursor: nwse-resize; }
.handle.b  { bottom: -5px; left: 50%; transform: translateX(-50%); cursor: ns-resize; }
.handle.bl { bottom: -5px; left: -5px; cursor: nesw-resize; }
.handle.l  { top: 50%; left: -5px; transform: translateY(-50%); cursor: ew-resize; }