.field.editing .math-content::part(content) {
    pointer-events: auto;
}


.math-content {
    width: 100%;
    background:transparent;
    border: none;
    outline: none;
    
    color: var(--color-text);
    
    --contains-highlight-background-color: var(--color-gray);
}
.math-content::part(content) {
    pointer-events: none;
}

.math-content::part(keyboard-sink) {
    
}


.math-content::part(container) {
    height: calc(var(--cell-size) * 3);
}



.math-content::part(virtual-keyboard-toggle), .math-content::part(menu-toggle) {
    display: none;
}