@inherits BaseFieldView<MathEditor.Models.MathField>

<BaseFieldView Field="Field"
               OnPointerDown="PointerDown"
               OnStartEditing="StartEditing"
               OnStopEditing="StopEditing">
    <Body>
        <math-field class="math-content"
                    @oninput="OnInput"
                    @ref="ContentRef">
        </math-field>
    </Body>
</BaseFieldView>