@inherits BaseFieldView<MathEditor.Models.TextField>

<BaseFieldView Field="Field"
               OnPointerDown="PointerDown"
               OnStartEditing="StartEditing"
               HideOverflow="true">
    <Body>
        <div class="text-content"
             contenteditable="true"
             spellcheck="false"
             @oninput="OnInput"
             @ref="ContentRef">
        </div>
    </Body>
</BaseFieldView>