@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes popIn {
    from { scale: 0.75; }
    to   { scale: 1; }
}


.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    opacity: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

    pointer-events: none;
    
    animation: fadeIn 0.3s ease forwards;
}

.foreground {
    width: 400px;
    padding: 20px;

    z-index: 10000;
    display: flex;
    flex-direction: column;
    
    background: var(--color-bg);
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    
    user-select: none;
    pointer-events: auto;
    
    animation: popIn 0.2s cubic-bezier(0.34, 1.56, 0.64, 1) forwards, fadeIn 0.15s ease forwards;
}


.buttons {
    margin-top: 15px;
    align-self: flex-end;
}


.title {
    color: var(--color-text);
    font-weight: bold;
}