label {
    color: var(--color-text);
    font-size: 13pt;
}

input {
    color: var(--color-text);
    text-align: center;

    border-color: var(--color-bg-2);
    background-color: var(--color-bg);
}