html, body {
    background-color: var(--color-grid-bg);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: absolute;
    display: block;
    width: 8rem;
    height: 8rem;
    inset: 20vh 0 auto 0;
    margin: 0 auto 0 auto;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #1b6ec2;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}

code {
    color: #c02d76;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}






:root {
    /* Constants */
    --border-radius-normal: 10px;
    
    /* Colors */
    --blazor-load-percentage: 0;
    
    --color-primary: #ffa37d;
    --color-primary-hover: #bd7d5a;
    --color-select: #007bff;
    
    --color-menu-btn-hover: #fff5ee;
    --color-menu-btn-active: #ffe2d7;

    --color-fg: #000;
    --color-bg: #fff;
    --color-bg-2: #d0d0d0;
    --color-grid-bg: #fff;
    --color-grid: rgba(0, 0, 0, 0.2);
    
    --color-selection: #4a90e2;
    --color-selection-bg: rgba(74, 144, 226, 0.2);
    
    --color-text: #000;
    --color-text-light: #fff;
    --color-text-dark: #000;
    
    
    --icon-theme-toggle: url("icons/icon_moon.svg");
}

[data-theme="dark"] {
    --color-menu-btn-hover: #535361;
    --color-menu-btn-active: #78788c;
    
    --color-fg: #fff;
    --color-bg: #232329;
    --color-bg-2: #3a3a43;
    --color-grid-bg: #161616;
    --color-grid: rgba(255, 255, 255, 0.2);

    --color-selection: #396fae;
    --color-selection-bg: rgba(64, 127, 200, 0.2);
    
    --color-text: #fff;
    
    
    --icon-theme-toggle: url("icons/icon_sun.svg");
}


* {
    transition:
            background-color 0.2s ease,
            color 0.2s ease,
            border-color 0.2s ease,
            fill 0.2s ease,
            stroke 0.2s ease;
}


/* Loading Screen */
#app {
    opacity: 0;
    transition: opacity 0.6s ease;
}

body.blazor-loaded #app {
    opacity: 1;
}


#blazor-loader {
    opacity: 1;
    z-index: 99999999;
    
    position: fixed;
    inset: 0;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: var(--color-bg);
    color: var(--color-text);
    
    user-select: none;
    
    transition: opacity 0.6s ease;
}
#blazor-loader.fade-out {
    opacity: 0;
}

.loader-title {
    margin-bottom: 1rem;
    font-size: 25pt;
    
    font-weight: bold;
}

.progress-bar {
    width: 350px;
    height: 15px;
    
    overflow: hidden;
    
    background-color: var(--color-bg-2);
    border-radius: var(--border-radius-normal);
}

.progress-bar-fill {
    height: 100%;
    width: var(--blazor-load-percentage);
    background-color: var(--color-primary);
    
    transition: width 0.15s ease;
}

/* Styles */
.simple-button {
    padding: 7px 10px;
    
    border-radius: var(--border-radius-normal);
    border: none;
    
    background-color: var(--color-primary);
    color: var(--color-text-light);
    
    transition: background-color 0.1s ease, scale 0.1s ease;
}
.simple-button:hover {
    background-color: var(--color-primary-hover);
    scale: 1.025;
}
.simple-button:active {
    scale: 0.93;
}


input {
    padding: 5px;
    font-size: 13pt;
    
    border: 1px solid lightgray;
    border-radius: 10px;

    transition: box-shadow 100ms ease, border-color 100ms ease;
}
input:focus {
    outline: none;
    border-color: var(--color-select);
    box-shadow: 0 0 0 2px var(--color-select);
}