.canvas-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    
    overflow: hidden;
}


.grid.pan {
    cursor: grab;
}
.grid.panning {
    cursor: grabbing;
}

.selection-box {
    z-index: 9999;
    
    position: fixed;

    background: var(--color-selection-bg);
    border: 1px solid var(--color-selection);
    border-radius: 8px;
    
    pointer-events: none;
    transition: opacity 0.2s ease-out;
}
.selection-box.fade-out {
    opacity: 0;
}