@page "/"
@using MathEditor.Components
@using MathEditor.Models
@using MathEditor.Services

@inject IJSRuntime JS
@inject HomeCommands Commands;

<div class="canvas-container"
     @onpointerdown="OnPointerDown"
     @onpointermove="OnPointerMove"
     @onpointerup="OnPointerUp"
     @onwheel:preventDefault
     @onwheel="OnWheel"
     @onkeydown="OnKeyDown">

    <div class="grid"
         style="
            --cell-size:@(BaseCellSize * _zoom)px;
            --pan-x:@(_panX)px;
            --pan-y:@(_panY)px;
         ">
    </div>
    
    @foreach (var field in Fields)
    {
        if (field is TextField tf)
        {
            <TextFieldView Field="tf"
                           Zoom="_zoom"
                           PanX="_panX"
                           PanY="_panY" 
                           OnSelect="HandleFieldSelect"
                           OnStartDrag="HandleFieldDragStart"/>
        }
    }
</div>